#body{
    font-family: 'Radio Canada', sans-serif;
}

/* Awal styling halaman pendaftaran pasien */

#body .background{
    background-color: #0C96C5;
    height: 100vh;
    position: fixed;
    width: 70%;
    display: none;
}

.background h3{
    margin-bottom: 35px;
    font-weight: bold;
    color: #3B4148;
}

.background .wrapper{
    width: 100%;
    margin-left: 5rem;
    margin-top:25px;
    padding: 8rem 0;
}

.media{margin-top: 25px;}

.media .media-bg{
    background-color: #19A6D6;
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.media .media-body{
    padding: 5px 0;
    margin-left: 16px;
    color: #ffffff;
}

.media img{
    height: 30px;
    width: 30px;
    margin: 13px;
    display: block;
}

#body .card{
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 7px 7px 35px rgba(59, 65, 75, 0.3);
    width: 100%;
    /* margin-top: 6rem; */
    margin-top: 0px;
    position: relative;
    right: 0px;
    /* margin-bottom: 2rem; */
    margin-bottom: 0px;
}

.wrapper{ margin:10px; }

.button-group{ margin-top: 5px; }

.button-group .btn-block{margin-top: 15px;}

.button-group .btn{
    background-color: #ffffff;
    border-radius: 8px;
    border-color: #19A6D6;
    height: 40px;
}

#body #form-baru{display: none;}

.page{ margin: 25px 0px 25px 1.7rem}

.page .btn{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border-color: #19A6D6;
    margin:0px 20px 0px 0px;
}

.card .active{
    background-color: #0C96C5;
    color: #ffffff;
}

.card .active:hover{
    background-color: #19A6D6;
    color: #ffffff;
}

.button{float: right;}

.card .wrapper h2{
    font-weight: bold;
    font-size: 25px;
    color:#3B4148;
}

.card #form-pertama{display: block;}
.card #form-kedua{display: none;}

.form-kedua .button{margin-top:15px}

#body #notif-kosong{
    margin-bottom: 10px;
    color: #ff0000;
}
/* Akhir styling halaman pendaftaran pasien */

/* Awal styling halaman login petugas */
.disabled-scroll{
    width: 100%;
    overflow: hidden;
}

#body .login-petugas{margin-top: 0px;}

#body .circle-1{
    background-color: rgba(12, 150, 197, 0.3);
    height: 350px;
    width: 350px;
    position: absolute;
    float: left;
    bottom: -25rem;
    left: -9rem;
    border-radius: 100%;
}

#body .circle-2{
    background-color: rgba(12, 150, 197, 0.3);
    height: 300px;
    width: 300px;
    position: absolute;
    float: right;
    top: -9rem;
    right: -9rem;
    border-radius: 100%;
}

.bigTitle{
    display: block;
    margin-top: 10rem;
}

.bigTitle .smallTitle{
    color: #3B4148;
    font-weight: bold;
}

.bigTitle .title{
    color: #3B4148;
    font-weight: bold;
    font-size: 40px;
}

.bigTitle .borderTitle{
    color: #ffffff;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0C96C5;
    font-size: 40px;
}

.card .wrapper .divider{
    background-color: #69737B;
    width: 100px;
    height: 2px;
    margin-top:15px;
    margin-bottom:25px;
    border-radius:10px;
}

.card .wrapper .form-title{
    font-weight: bold;
    color: #3B4148;
}

/* Akhir styling halaman login petugas */

/* Awal styling halaman dashboard petugas */
#body .sidebar{
    background-color: #0C96C5;
    height: 100%;
    position: fixed;
    width: 0;
    transition: 0.5s;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-y: hidden;
}

#body .navigation{
    padding: 20px 0;
    display: none;
    transition: 0.2s;
}

#body .navigation ul li a{
    color: #ffffff;
    margin-top: 15px;
}

#body .navigation img{
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

#body .navigation .logout{
    position: relative;
    bottom: -5rem;
}

#body .dash-info{margin-top:25px}

#body .dash-title .show-bar{
    margin-left: -16px;
    margin-bottom: 16px;
}

#body .dash-title h5{
    color: #00CACD;
    letter-spacing: 1px;
}

#body .dash-title h4{
    color: #3B4148;
    letter-spacing: 1px;
    font-weight: bold;
}

#body .dash-info .overview .card{margin-top: 40px;}

#body .dash-info .overview .overview-icon span{
    position:absolute;
    margin:10px;
}

#body .dash-info .overview .overview-icon{
    background-color: #ffffff;
    width: 48px;
    height: 48px;
    border-radius:15px;
    box-shadow: 2px 2px 20px rgba(59, 65, 75, 0.3);
    margin-bottom: 35px;
    position: relative;
}

#body .graph{
    margin-top: 70px;
    margin-bottom: 30px;
}

#body .graph h5{
    color: #3B4148;
    letter-spacing: 1px;
    font-weight: bold;
}

#body .graph #grafikPenyakit{
    width: 375px;
    height: auto;
    margin-top:15px;
}

#body .graph #jml-kecamatan{
    width: 375px;
    height: auto;
    margin-top:15px;
}

#body .graph #jenis-pekerjaan{
    width: 375px;
    height: auto;
    margin-top:15px;
}

/* Akhir styling halaman dashboard petugas */

/* Awal styling halaman dashboard daftar pasien */
#body .dash-info .table{margin-top:60px}

#body .dash-info .table .form-pencarian-1{
    display: none;
    border: 1px solid #3B4148;
    border-radius: 10px;
    padding:5px;
    height: 100px;
    margin-top: 30px;
}

#body .dash-info .table  input{
    border: 1px solid #3B4148;
    border-radius: 5px;
}

#body .dash-info .table  select{
    border: 1px solid #3B4148;
    border-radius: 5px;
}

#body .table h5{
    color: #3B4148;
    letter-spacing: 1px;
    font-weight: bold;
}

#body .dash-info .daftar-pencarian-1{
    display: none;
    border: 1px solid #3B4148;
    border-radius: 10px;
    margin-top: 15px;
}

#body .table .aksi{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    padding:2px;
    background-color: #3B4148;
}

#body .pencarianMobile{display: block;}

#body .table .lihat-pencarian{
    margin-bottom: 25px;
    margin-top: 15px;
    background-color: #3B4148;
    border-radius: 5px;
    color: #ffffff;
}

#body .table .form-pencarian-2{
    display: none;
    border: 1px solid #3B4148;
    border-radius: 10px;
    padding:17px;
    height: 75%;
    margin-top: 30px;
}

#body .table .form-pencarian-2 .cari-pasien-2{
    background-color: #3B4148;
    border-radius: 5px;
    color: #ffffff;
}

.info-aksi .btn-aksi-mobile{
    width: 34px;
    height:34px;
    border-radius: 100%;
    padding:1px;
}

.info-aksi .lihat-rm-mobile{
    background-color: #00CACD;
    margin-left:10px
}

/* Akhir styling halaman dashboard daftar pasien */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #body{
        font-family: 'Radio Canada', sans-serif;
    }
    
    /* Awal styling pendaftaran pasien */
    #body .background{
        background-color: #0C96C5;
        height: 100vh;
        position: fixed;
        width: 70%;
        display: none;
    }
    
    .background h3{
        margin-bottom: 35px;
        font-weight: bold;
        color: #3B4148;
    }
    
    .background .wrapper{
        width: 100%;
        margin-left: 5rem;
        margin-top:25px;
        padding: 8rem 0;
    }
    
    .media{margin-top: 25px;}
    
    .media .media-bg{
        background-color: #19A6D6;
        width: 55px;
        height: 55px;
        border-radius: 10px;
    }
    
    .media .media-body{
        padding: 5px 0;
        margin-left: 16px;
        color: #ffffff;
    }
    
    .media img{
        height: 30px;
        width: 30px;
        margin: 13px;
        display: block;
    }
    
    #body .card{
        border-radius: 10px;
        border: 1px solid #ffffff;
        box-shadow: 7px 7px 35px rgba(59, 65, 75, 0.3);
        /* width: 75%; */
        /* margin-top: 8rem; */
        position: relative;
        /* right: -5rem; */
        margin-bottom: 2rem;
    }
    
    .wrapper{ margin:10px; }
    
    .button-group{ margin-top: 5px; }
    
    .button-group .btn-block{margin-top: 15px;}
    
    .button-group .btn{
        background-color: #ffffff;
        border-radius: 8px;
        border-color: #19A6D6;
        height: 40px;
    }
    
    #body #form-baru{display: none;}

    .page{ margin: 25px 0px 25px 1.7rem}

    .page .btn{
        border-radius: 100%;
        height: 40px;
        width: 40px;
        border-color: #19A6D6;
        margin:0px 20px 0px 0px;
    }
    
    .card .active{
        background-color: #0C96C5;
        color: #ffffff;
    }
    
    .card .active:hover{
        background-color: #19A6D6;
        color: #ffffff;
    }
    
    .button{float: right;}
    
    .card .wrapper h2{
        font-weight: bold;
        font-size: 25px;
        color:#3B4148;
    }
    
    .card #form-pertama{display: block;}
    .card #form-kedua{display: none;}
    
    .form-kedua .button{margin-top:15px}

    #body #notif-kosong{
        margin-top: 10px;
        color: #ff0000;
    }
    /* Akhir pendaftaran pasien */

    /* Awal styling halaman login petugas */
    #body .login-petugas{margin-top: 0px;}

    .bigTitle{
        display: none;
        margin-top: 5rem;
    }
    
    .bigTitle .smallTitle{
        color: #3B4148;
        font-weight: bold;
    }
    
    .bigTitle .title{
        color: #3B4148;
        font-weight: bold;
        font-size: 40px;
    }
    
    .bigTitle .borderTitle{
        color: #ffffff;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0C96C5;
        font-size: 40px;
    }
    
    .card .wrapper .divider{
        background-color: #69737B;
        width: 100px;
        height: 2px;
        margin-top:15px;
        margin-bottom:25px;
        border-radius:10px;
    }
    
    .card .wrapper .form-title{
        font-weight: bold;
        color: #3B4148;
    }

    /* Akhir styling halaman login petugas */

    /* Awal styling halaman dashboard petugas */
    #body .sidebar{
        background-color: #0C96C5;
        height: 100%;
        position: fixed;
        width: 0;
        transition: 0.5s;
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-y: scroll;
    }

    #body .navigation{
        padding: 20px 0;
        display: none;
        transition: 0.2s;
    }

    #body .navigation ul li a{
        color: #ffffff;
        margin-top: 15px;
    }

    #body .navigation img{
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }

    #body .navigation .logout{
        position: relative;
        bottom: -5rem;
    }

    #body .dash-info{margin-top:25px}

    #body .dash-title .show-bar{
        margin-left: -16px;
        margin-bottom: 16px;
    }

    #body .dash-title h5{
        color: #00CACD;
        letter-spacing: 1px;
    }

    #body .dash-title h4{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .overview .card{
        margin-top: 40px;
        width: 100%;
    }

    #body .dash-info .overview .overview-icon span{
        position:absolute;
        margin:10px;
    }

    #body .dash-info .overview .overview-icon{
        background-color: #ffffff;
        width: 48px;
        height: 48px;
        border-radius:15px;
        box-shadow: 2px 2px 20px rgba(59, 65, 75, 0.3);
        margin-bottom: 35px;
        position: relative;
    }

    #body .graph{
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #body .graph h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .graph #grafikPenyakit{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jml-kecamatan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jenis-pekerjaan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    /* Akhir styling halaman dashboard petugas */

    /* Awal styling halaman dashboard daftar pasien */
    #body .dash-info .table{margin-top:60px}

    #body .dash-info .table .form-pencarian-1{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:5px;
        height: 100px;
        margin-top: 30px;
    }

    #body .dash-info .table  input{
        border: 1px solid #3B4148;
        border-radius: 5px;
    }

    #body .dash-info .table  select{
        border: 1px solid #3B4148;
        border-radius: 5px;
    }

    #body .table h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .daftar-pencarian-1{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        margin-top: 15px;
    }

    #body .table .aksi{
        border-radius: 100%;
        width: 35px;
        height: 35px;
        padding:2px;
        background-color: #3B4148;
    }

    #body .pencarianMobile{display: block;}

    #body .table .lihat-pencarian{
        margin-bottom: 25px;
        margin-top: 15px;
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    #body .table .form-pencarian-2{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:17px;
        height: 75%;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    #body .table .form-pencarian-2 .cari-pasien-2{
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    .info-aksi .btn-aksi-mobile{
        width: 34px;
        height:34px;
        border-radius: 100%;
        padding:1px;
    }

    .info-aksi .lihat-rm-mobile{
        background-color: #00CACD;
        margin-left:10px
    }

    /* Akhir styling halaman dashboard daftar pasien */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #body{
        font-family: 'Radio Canada', sans-serif;
    }
    
    /* Awal styling pendaftaran pasien */
    #body .background{
        background-color: #0C96C5;
        height: 100vh;
        position: fixed;
        width: 70%;
        display: none;
    }
    
    .background h3{
        margin-bottom: 35px;
        font-weight: bold;
        color: #3B4148;
    }
    
    .background .wrapper{
        width: 100%;
        margin-left: 5rem;
        margin-top:25px;
        padding: 8rem 0;
    }
    
    .media{margin-top: 25px;}
    
    .media .media-bg{
        background-color: #19A6D6;
        width: 55px;
        height: 55px;
        border-radius: 10px;
    }
    
    .media .media-body{
        padding: 5px 0;
        margin-left: 16px;
        color: #ffffff;
    }
    
    .media img{
        height: 30px;
        width: 30px;
        margin: 13px;
        display: block;
    }
    
    #body .card{
        border-radius: 10px;
        border: 1px solid #ffffff;
        box-shadow: 7px 7px 35px rgba(59, 65, 75, 0.3);
        /* width: 55%; */
        /* margin-top: 15rem; */
        position: relative;
        /* right: -11rem; */
        margin-bottom: 2rem;
    }
    
    .wrapper{ margin:10px; }
    
    .button-group{ margin-top: 5px; }
    
    .button-group .btn-block{margin-top: 15px;}

    .button-group .btn{
        background-color: #ffffff;
        border-radius: 8px;
        border-color: #19A6D6;
        height: 40px;
    }
    
    #body #form-baru{display: none;}

    .page{ margin: 25px 0px 25px 1.7rem}

    .page .btn{
        border-radius: 100%;
        height: 40px;
        width: 40px;
        border-color: #19A6D6;
        margin:0px 20px 0px 0px;
    }
    
    .card .active{
        background-color: #0C96C5;
        color: #ffffff;
    }
    
    .card .active:hover{
        background-color: #19A6D6;
        color: #ffffff;
    }
    
    .button{float: right;}
    
    .card .wrapper h2{
        font-weight: bold;
        font-size: 25px;
        color:#3B4148;
    }
    
    .card #form-pertama{display: block;}
    .card #form-kedua{display: none;}
    
    .form-kedua .button{margin-top:15px}

    #body #notif-kosong{
        margin-top: 10px;
        color: #ff0000;
    }
    /* Akhir pendaftaran pasien */

    /* Awal styling halaman login petugas */
    #body .login-petugas{margin-top: 0px;}

    .bigTitle{
        display: none;
        margin-top: 5rem;
    }
    
    .bigTitle .smallTitle{
        color: #3B4148;
        font-weight: bold;
    }
    
    .bigTitle .title{
        color: #3B4148;
        font-weight: bold;
        font-size: 40px;
    }
    
    .bigTitle .borderTitle{
        color: #ffffff;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0C96C5;
        font-size: 40px;
    }
    
    .card .wrapper .divider{
        background-color: #69737B;
        width: 100px;
        height: 2px;
        margin-top:15px;
        margin-bottom:25px;
        border-radius:10px;
    }
    
    .card .wrapper .form-title{
        font-weight: bold;
        color: #3B4148;
    }

    /* Akhir styling halaman login petugas */

    /* Awal styling halaman dashboard petugas */
    #body .sidebar{
        background-color: #0C96C5;
        height: 100%;
        position: fixed;
        width: 0;
        transition: 0.5s;
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-y: scroll;
    }

    #body .navigation{
        padding: 20px 0;
        display: none;
        transition: 0.2s;
    }

    #body .navigation ul li a{
        color: #ffffff;
        margin-top: 15px;
    }

    #body .navigation img{
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }

    #body .navigation .logout{
        position: relative;
        bottom: -20rem;
    }

    #body .dash-info{margin-top:25px}

    #body .dash-title .show-bar{
        margin-left: -16px;
        margin-bottom: 16px;
    }

    #body .dash-title h5{
        color: #00CACD;
        letter-spacing: 1px;
    }

    #body .dash-title h4{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .overview .card{
        margin-top: 40px;
        width: 100%;
    }

    #body .dash-info .overview .overview-icon span{
        position:absolute;
        margin:10px;
    }

    #body .dash-info .overview .overview-icon{
        background-color: #ffffff;
        width: 48px;
        height: 48px;
        border-radius:15px;
        box-shadow: 2px 2px 20px rgba(59, 65, 75, 0.3);
        margin-bottom: 35px;
        position: relative;
    }

    #body .graph{
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #body .graph h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .graph #grafikPenyakit{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jml-kecamatan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jenis-pekerjaan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    /* Akhir styling halaman dashboard petugas */

    /* Awal styling halaman dashboard daftar pasien */
    #body .dash-info .table{margin-top:60px}

    #body .dash-info .table .form-pencarian-1{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:5px;
        height: 100px;
        margin-top: 30px;
    }

    #body .dash-info .table  input{
        border: 1px solid #3B4148;
        border-radius: 5px;
    }

    #body .dash-info .table  select{
        border: 1px solid #3B4148;
        border-radius: 5px;
    }

    #body .table h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .daftar-pencarian-1{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        margin-top: 15px;
    }

    #body .table .aksi{
        border-radius: 100%;
        width: 35px;
        height: 35px;
        padding:2px;
        background-color: #3B4148;
    }

    #body .pencarianMobile{display: block;}

    #body .table .lihat-pencarian{
        margin-bottom: 25px;
        margin-top: 15px;
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    #body .table .form-pencarian-2{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:17px;
        height: 75%;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    #body .table .form-pencarian-2 .cari-pasien-2{
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    .info-aksi .btn-aksi-mobile{
        width: 34px;
        height:34px;
        border-radius: 100%;
        padding:1px;
    }

    .info-aksi .lihat-rm-mobile{
        background-color: #00CACD;
        margin-left:10px
    }

    /* Akhir styling halaman dashboard daftar pasien */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #body{
        font-family: 'Radio Canada', sans-serif;
    }
    
    /* Awal styling pendaftaran pasien */
    #body .background{
        background-color: #0C96C5;
        height: 100vh;
        position: fixed;
        width: 70%;
        display: block;
    }
    
    .background h3{
        margin-bottom: 35px;
        font-weight: bold;
        color: #3B4148;
    }
    
    .background .wrapper{
        width: 100%;
        margin-left: 5rem;
        margin-top:25px;
        padding: 8rem 0;
    }
    
    .media{margin-top: 25px;width: 60%;}
    
    .media .media-bg{
        background-color: #19A6D6;
        width: 55px;
        height: 55px;
        border-radius: 10px;
    }
    
    .media .media-body{
        padding: 5px 0;
        margin-left: 16px;
        color: #ffffff;
    }
    
    .media img{
        height: 30px;
        width: 30px;
        margin: 13px;
        display: block;
    }
    
    #body .card{
        border-radius: 10px;
        border: 1px solid #ffffff;
        box-shadow: 7px 7px 35px rgba(59, 65, 75, 0.3);
        /* width: 75%; */
        margin-top: 1rem;
        position: relative;
        /* right: -5rem; */
       /* margin-bottom: 4rem; */
    }
    
    .wrapper{ margin:10px; }
    
    .button-group{ margin-top: 5px; }
    
    .button-group .btn-block{margin-top: 15px;}
    
    .button-group .btn{
        background-color: #ffffff;
        border-radius: 8px;
        border-color: #19A6D6;
        height: 40px;
    }
    
    #body #form-baru{display: none;}

    .page{ margin: 25px 0px 25px 1.7rem}

    .page .btn{
        border-radius: 100%;
        height: 40px;
        width: 40px;
        border-color: #19A6D6;
        margin:0px 20px 0px 0px;
    }
    
    .card .active{
        background-color: #0C96C5;
        color: #ffffff;
    }
    
    .card .active:hover{
        background-color: #19A6D6;
        color: #ffffff;
    }
    
    .button{float: right;}
    
    .card .wrapper h2{
        font-weight: bold;
        font-size: 25px;
        color:#3B4148;
    }
    
    .card #form-pertama{display: block;}
    .card #form-kedua{display: none;}
    
    .form-kedua .button{margin-top:15px}

    #body #notif-kosong{
        margin-top: 10px;
        color: #ff0000;
    }
    /* Akhir styling pendaftaran pasien */

    /* Awal styling halaman login petugas */
    .disabled-scroll{
        width: 100%;
        overflow: hidden;
    }

    #body .circle-1{
        background-color: rgba(12, 150, 197, 0.3);
        height: 450px;
        width: 450px;
        position: absolute;
        float: left;
        bottom: -9rem;
        left: -9rem;
        border-radius: 100%;
    }

    #body .circle-2{
        background-color: rgba(12, 150, 197, 0.3);
        height: 300px;
        width: 300px;
        position: absolute;
        float: right;
        top: -9rem;
        right: -9rem;
        border-radius: 100%;
    }

    #body .login-petugas{margin-top: 6rem;}

    .bigTitle{
        display: block;
        margin-top: 10rem;
    }
    
    .bigTitle .smallTitle{
        color: #3B4148;
        font-weight: bold;
    }
    
    .bigTitle .title{
        color: #3B4148;
        font-weight: bold;
        font-size: 40px;
    }
    
    .bigTitle .borderTitle{
        color: #ffffff;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0C96C5;
        font-size: 40px;
    }
    
    .card .wrapper .divider{
        background-color: #69737B;
        width: 100px;
        height: 2px;
        margin-top:15px;
        margin-bottom:25px;
        border-radius:10px;
    }
    
    .card .wrapper .form-title{
        font-weight: bold;
        color: #3B4148;
    }

    /* Akhir styling halaman login petugas */

    /* Awal styling halaman dashboard petugas */
    #body .sidebar{
        background-color: #0C96C5;
        height: 100%;
        position: fixed;
        width: 0;
        transition: 0.5s;
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-y: scroll;
    }

    #body .navigation{
        padding: 20px 0;
        display: none;
        transition: 0.2s;
    }

    #body .navigation ul li a{
        color: #ffffff;
        margin-top: 15px;
    }

    #body .navigation img{
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }

    #body .navigation .logout{
        position: relative;
        bottom: -5rem;
    }

    #body .dash-info{margin-top:25px}

    #body .dash-title .show-bar{
        margin-left: -16px;
        margin-bottom: 16px;
    }

    #body .dash-title h5{
        color: #00CACD;
        letter-spacing: 1px;
    }

    #body .dash-title h4{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .overview .card{
        margin-top: 40px;
        width: 100%;
    }

    #body .dash-info .overview .overview-icon span{
        position:absolute;
        margin:10px;
    }

    #body .dash-info .overview .overview-icon{
        background-color: #ffffff;
        width: 48px;
        height: 48px;
        border-radius:15px;
        box-shadow: 2px 2px 20px rgba(59, 65, 75, 0.3);
        margin-bottom: 35px;
        position: relative;
    }

    #body .graph{
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #body .graph h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .graph #grafikPenyakit{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jml-kecamatan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jenis-pekerjaan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    /* Akhir styling halaman dashboard petugas */

    /* Awal styling halaman dashboard daftar pasien */
    #body .dash-info .table{margin-top:60px}

    #body .dash-info .table .form-pencarian-1{
        display: block;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:5px;
        height: 100px;
        margin-top: 30px;
    }

    #body .dash-info .table input select{
        border: 1px solid #3B4148;
        border-radius: 5px;
    }

    #body .table h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .daftar-pencarian-1{
        display: block;
        border: 1px solid #3B4148;
        border-radius: 10px;
        margin-top: 15px;
    }

    #body .table .aksi{
        border-radius: 100%;
        width: 35px;
        height: 35px;
        padding:2px;
        background-color: #3B4148;
    }

    #body .pencarianMobile{display: none;}

    #body .table .lihat-pencarian{
        margin-bottom: 25px;
        margin-top: 15px;
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    #body .table .form-pencarian-2{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:17px;
        height: 75%;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    #body .table .form-pencarian-2 .cari-pasien-2{
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    .info-aksi .btn-aksi-mobile{
        width: 34px;
        height:34px;
        border-radius: 100%;
        padding:1px;
    }

    .info-aksi .lihat-rm-mobile{
        background-color: #00CACD;
        margin-left:10px
    }
    /* Akhir styling halaman dashboard daftar pasien */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #body{
        font-family: 'Radio Canada', sans-serif;
    }
    
    /* Awal styling pendaftaran pasien */
    #body .background{
        background-color: #0C96C5;
        height: 100vh;
        position: fixed;
        width: 70%;
        display: block;
    }
    
    .background h3{
        margin-bottom: 35px;
        font-weight: bold;
        color: #3B4148;
    }
    
    .background .wrapper{
        width: 100%;
        margin-left: 5rem;
        margin-top:25px;
        padding: 8rem 0;
    }
    
    .media{margin-top: 25px;width: 60%;}
    
    .media .media-bg{
        background-color: #19A6D6;
        width: 55px;
        height: 55px;
        border-radius: 10px;
    }
    
    .media .media-body{
        padding: 5px 0;
        margin-left: 16px;
        color: #ffffff;
    }
    
    .media img{
        height: 30px;
        width: 30px;
        margin: 13px;
        display: block;
    }
    
    #body .card{
        border-radius: 10px;
        border: 1px solid #ffffff;
        box-shadow: 7px 7px 35px rgba(59, 65, 75, 0.3);
        /* width: 75%; */
        margin-top: 1rem;
        position: relative;
        /* right: -5rem; */
        /* margin-bottom: 4rem; */
    }
    
    .wrapper{ margin:10px; }
    
    .button-group{ margin-top: 5px; }
    
    .button-group .btn-block{margin-top: 15px;}
    
    .button-group .btn{
        background-color: #ffffff;
        border-radius: 8px;
        border-color: #19A6D6;
        height: 40px;
    }

    #body #form-baru{display: none;}
    
    .page{ margin: 25px 0px 25px 1.7rem}
    .page .btn{
        border-radius: 100%;
        height: 40px;
        width: 40px;
        border-color: #19A6D6;
        margin:0px 20px 0px 0px;
    }
    
    .card .active{
        background-color: #0C96C5;
        color: #ffffff;
    }
    
    .card .active:hover{
        background-color: #19A6D6;
        color: #ffffff;
    }
    
    .button{float: right;}
    
    .card .wrapper h2{
        font-weight: bold;
        font-size: 25px;
        color:#3B4148;
    }
    
    .card #form-pertama{display: block;}
    .card #form-kedua{display: none;}
    
    .form-kedua .button{margin-top:15px}

    #body #notif-kosong{
        margin-top: 10px;
        color: #ff0000;
    }
    /* Akhir styling pendaftaran pasien */

    /* Awal styling halaman login petugas */
    .disabled-scroll{
        width: 100%;
        overflow: hidden;
    }

    #body .circle-1{
        background-color: rgba(12, 150, 197, 0.3);
        height: 450px;
        width: 450px;
        position: absolute;
        float: left;
        bottom: -9rem;
        left: -9rem;
        border-radius: 100%;
    }

    #body .circle-2{
        background-color: rgba(12, 150, 197, 0.3);
        height: 300px;
        width: 300px;
        position: absolute;
        float: right;
        top: -9rem;
        right: -9rem;
        border-radius: 100%;
    }

    #body .login-petugas{margin-top: 6rem;}

    .bigTitle{
        display: block;
        margin-top: 10rem;
    }
    
    .bigTitle .smallTitle{
        color: #3B4148;
        font-weight: bold;
    }
    
    .bigTitle .title{
        color: #3B4148;
        font-weight: bold;
        font-size: 40px;
    }
    
    .bigTitle .borderTitle{
        color: #ffffff;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0C96C5;
        font-size: 40px;
    }
    
    .card .wrapper .divider{
        background-color: #69737B;
        width: 100px;
        height: 2px;
        margin-top:15px;
        margin-bottom:25px;
        border-radius:10px;
    }
    
    .card .wrapper .form-title{
        font-weight: bold;
        color: #3B4148;
    }

    /* Akhir styling halaman login petugas */

    /* Awal styling halaman dashboard petugas */
    #body .sidebar{
        background-color: #0C96C5;
        height: 100%;
        position: fixed;
        width: 0;
        transition: 0.5s;
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-y: scroll;
    }

    #body .navigation{
        padding: 20px 0;
        display: none;
        transition: 0.2s;
    }

    #body .navigation ul li a{
        color: #ffffff;
        margin-top: 15px;
    }

    #body .navigation img{
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }

    #body .navigation .logout{
        position: relative;
        bottom: -5rem;
    }

    #body .dash-info{margin-top:25px}

    #body .dash-title .show-bar{
        margin-left: -16px;
        margin-bottom: 16px;
    }

    #body .dash-title h5{
        color: #00CACD;
        letter-spacing: 1px;
    }

    #body .dash-title h4{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .overview .card{
        margin-top: 40px;
        width: 100%;
    }

    #body .dash-info .overview .overview-icon span{
        position:absolute;
        margin:10px;
    }

    #body .dash-info .overview .overview-icon{
        background-color: #ffffff;
        width: 48px;
        height: 48px;
        border-radius:15px;
        box-shadow: 2px 2px 20px rgba(59, 65, 75, 0.3);
        margin-bottom: 35px;
        position: relative;
    }

    #body .graph{
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #body .graph h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .graph #grafikPenyakit{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jml-kecamatan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jenis-pekerjaan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    /* Akhir styling halaman dashboard petugas */

    /* Awal styling halaman dashboard daftar pasien */
    #body .dash-info .table{margin-top:60px}

    #body .dash-info .table .form-pencarian-1{
        display: block;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:5px;
        height: 100px;
        margin-top: 30px;
    }

    #body .dash-info .table input select{
        border: 1px solid #3B4148;
        border-radius: 5px;
    }

    #body .table h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .daftar-pencarian-1{
        display: block;
        border: 1px solid #3B4148;
        border-radius: 10px;
        margin-top: 15px;
    }

    #body .table .aksi{
        border-radius: 100%;
        width: 35px;
        height: 35px;
        padding:2px;
        background-color: #3B4148;
    }

    #body .pencarianMobile{display: none;}

    #body .table .lihat-pencarian{
        margin-bottom: 25px;
        margin-top: 15px;
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    #body .table .form-pencarian-2{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:17px;
        height: 75%;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    #body .table .form-pencarian-2 .cari-pasien-2{
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    .info-aksi .btn-aksi-mobile{
        width: 34px;
        height:34px;
        border-radius: 100%;
        padding:1px;
    }

    .info-aksi .lihat-rm-mobile{
        background-color: #00CACD;
        margin-left:10px
    }
    /* Akhir styling halaman dashboard daftar pasien */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #body{
        font-family: 'Radio Canada', sans-serif;
    }
    
    /* Awal styling pendaftaran pasien */
    #body .background{
        background-color: #0C96C5;
        height: 100vh;
        position: fixed;
        width: 70%;
        display: block;
    }
    
    .background h3{
        margin-bottom: 35px;
        font-weight: bold;
        color: #3B4148;
    }
    
    .background .wrapper{
        width: 100%;
        margin-left: 5rem;
        margin-top:25px;
        padding: 8rem 0;
    }
    
    .media{margin-top: 25px;width: 60%;}
    
    .media .media-bg{
        background-color: #19A6D6;
        width: 55px;
        height: 55px;
        border-radius: 10px;
    }
    
    .media .media-body{
        padding: 5px 0;
        margin-left: 16px;
        color: #ffffff;
    }
    
    .media img{
        height: 30px;
        width: 30px;
        margin: 13px;
        display: block;
    }
    
    #body .card{
        border-radius: 10px;
        border: 1px solid #ffffff;
        box-shadow: 7px 7px 35px rgba(59, 65, 75, 0.3);
        /* width: 75%; */
        margin-top: 1rem;
        position: relative;
        /* right: -5rem; */
        /* margin-bottom: 4rem; */
    }
    
    .wrapper{ margin:10px; }
    
    .button-group{ margin-top: 5px; }
    
    .button-group .btn-block{margin-top: 15px;}
    
    .button-group .btn-primary{
        background-color: #19A6D6;
        border-radius: 8px;
        border-color: #19A6D6;
        height: 40px;
    }
    
    .button-group .btn-default{
        background-color: #ffffff;
        border-radius: 8px;
        border-color: #19A6D6;
        height: 40px;
    }

    #body #form-baru{display: none;}

    .page{ margin: 25px 0px 25px 1.7rem}
    .page .btn{
        border-radius: 100%;
        height: 40px;
        width: 40px;
        border-color: #19A6D6;
        margin:0px 20px 0px 0px;
    }
    
    .card .active{
        background-color: #0C96C5;
        color: #ffffff;
    }
    
    .card .active:hover{
        background-color: #19A6D6;
        color: #ffffff;
    }
    
    .button{float: right;}
    
    .card .wrapper h2{
        font-weight: bold;
        font-size: 25px;
        color:#3B4148;
    }
    
    .card #form-pertama{display: block;}
    .card #form-kedua{display: none;}
    
    .form-kedua .button{margin-top:15px}

    #body #notif-kosong{
        margin-top: 10px;
        color: #ff0000;
    }
    /* Akhir stytling pendaftaran pasien */

    /* Awal styling halaman login petugas */
    .disabled-scroll{
        width: 100%;
        overflow: hidden;
    }

    #body .circle-1{
        background-color: rgba(12, 150, 197, 0.3);
        height: 450px;
        width: 450px;
        position: absolute;
        float: left;
        bottom: -9rem;
        left: -9rem;
        border-radius: 100%;
    }

    #body .circle-2{
        background-color: rgba(12, 150, 197, 0.3);
        height: 300px;
        width: 300px;
        position: absolute;
        float: right;
        top: -9rem;
        right: -9rem;
        border-radius: 100%;
    }

    #body .login-petugas{margin-top: 6rem;}

    .bigTitle{
        display: block;
        margin-top: 10rem;
    }
    
    .bigTitle .smallTitle{
        color: #3B4148;
        font-weight: bold;
    }
    
    .bigTitle .title{
        color: #3B4148;
        font-weight: bold;
        font-size: 40px;
    }
    
    .bigTitle .borderTitle{
        color: #ffffff;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #0C96C5;
        font-size: 40px;
    }
    
    .card .wrapper .divider{
        background-color: #69737B;
        width: 100px;
        height: 2px;
        margin-top:15px;
        margin-bottom:25px;
        border-radius:10px;
    }
    
    .card .wrapper .form-title{
        font-weight: bold;
        color: #3B4148;
    }

    /* Akhir styling halaman login petugas */

    /* Awal styling halaman dashboard petugas */
    #body .sidebar{
        background-color: #0C96C5;
        height: 100%;
        position: fixed;
        width: 0;
        transition: 0.5s;
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        overflow-y: scroll;
    }

    #body .navigation{
        padding: 20px 0;
        display: none;
        transition: 0.2s;
    }

    #body .navigation ul li a{
        color: #ffffff;
        margin-top: 15px;
    }

    #body .navigation img{
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }

    #body .navigation .logout{
        position: relative;
        bottom: -5rem;
    }

    #body .dash-info{margin-top:25px}

    #body .dash-title .show-bar{
        margin-left: -16px;
        margin-bottom: 16px;
    }

    #body .dash-title h5{
        color: #00CACD;
        letter-spacing: 1px;
    }

    #body .dash-title h4{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .overview .card{
        margin-top: 40px;
        width: 100%;
    }

    #body .dash-info .overview .overview-icon span{
        position:absolute;
        margin:10px;
    }

    #body .dash-info .overview .overview-icon{
        background-color: #ffffff;
        width: 48px;
        height: 48px;
        border-radius:15px;
        box-shadow: 2px 2px 20px rgba(59, 65, 75, 0.3);
        margin-bottom: 35px;
        position: relative;
    }

    #body .graph{
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #body .graph h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .graph #grafikPenyakit{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jml-kecamatan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    #body .graph #jenis-pekerjaan{
        width: 100%;
        height: auto;
        margin-top:15px;
    }

    /* Akhir styling halaman dashboard petugas */

    /* Awal styling halaman dashboard daftar pasien */
    #body .dash-info .table{margin-top:60px}

    #body .dash-info .table .form-pencarian-1{
        display: block;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:5px;
        height: 100px;
        margin-top: 30px;
    }

    #body .dash-info .table input select{
        border: 1px solid #3B4148;
        border-radius: 5px;
    }

    #body .table h5{
        color: #3B4148;
        letter-spacing: 1px;
        font-weight: bold;
    }

    #body .dash-info .daftar-pencarian-1{
        display: block;
        border: 1px solid #3B4148;
        border-radius: 10px;
        margin-top: 15px;
    }

    #body .table .aksi{
        border-radius: 100%;
        width: 35px;
        height: 35px;
        padding:2px;
        background-color: #3B4148;
    }

    #body .pencarianMobile{display: none;}

    #body .table .lihat-pencarian{
        margin-bottom: 25px;
        margin-top: 15px;
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    #body .table .form-pencarian-2{
        display: none;
        border: 1px solid #3B4148;
        border-radius: 10px;
        padding:17px;
        height: 75%;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    #body .table .form-pencarian-2 .cari-pasien-2{
        background-color: #3B4148;
        border-radius: 5px;
        color: #ffffff;
    }

    .info-aksi .btn-aksi-mobile{
        width: 34px;
        height:34px;
        border-radius: 100%;
        padding:1px;
    }

    .info-aksi .lihat-rm-mobile{
        background-color: #00CACD;
        margin-left:10px
    }
    /* Akhir styling halaman dashboard daftar pasien */
}